:root {
  /* Light Theme */
  --bg__light: #f0f0f0;
  --bgcalculadora__light: #ffffff;
  --key__opera__light: #e0e0e0;
  --key__opera2__light: #d0d0d0;
  --text__light: #333;
  /* Dark Theme */
  --bg__dark: #181818;
  --bgcalculadora__dark: #242424;
  --key__opera__dark: #ddd;
  --key__opera2__dark: #1b7cb0;
  --text__dark: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  background: var(--bg__light);
  color: var(--text__light);
  transition: background 0.3s ease, color 0.3s ease;
}

button {
  border: none;
  outline: none;
  width: 7rem;
  height: 7rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.contenedor {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedor .calculadora {
  width: 35rem;
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: var(--bgcalculadora__light);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.contenedor .calculadora .display__screen {
  width: 98%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  overflow: hidden;
  background-color: rgba(128, 203, 195, 0.6823529412);
  border-radius: 1.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
}
.contenedor .calculadora .btn__operator {
  background-color: var(--key__opera__light);
}
.contenedor .calculadora .btn__operator:hover {
  background-color: lightgray;
}
.contenedor .calculadora #clean,
.contenedor .calculadora #D {
  background-color: var(--key__opera2__light);
  color: var(--text__light);
}
.contenedor .calculadora #clean:hover,
.contenedor .calculadora #D:hover {
  background-color: #c3c3c3;
}
.contenedor .calculadora .btn__igual {
  height: 14.6rem;
  background-color: rgba(128, 203, 195, 0.6823529412);
  color: white;
}
.contenedor .calculadora .btn__igual:hover {
  background-color: rgba(92, 188, 178, 0.6823529412);
}
.contenedor .calculadora .theme__light {
  width: 10rem;
  height: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.contenedor .calculadora .theme__light:hover {
  box-shadow: 1px 1px 10px var(--key__opera__light);
}
.contenedor .historial {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1.5rem;
  background: var(--bgcalculadora__light);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  list-style: circle;
  text-align: center;
  width: 100%;
}
.contenedor.dark {
  background: var(--bg__dark);
}
.contenedor.dark .calculadora {
  background-color: var(--bgcalculadora__dark);
  color: var(--text__dark);
}
.contenedor.dark .calculadora .display__screen {
  background-color: #333;
  color: var(--text__dark);
}
.contenedor.dark .calculadora .btn__operator {
  background-color: var(--key__opera__dark);
}
.contenedor.dark .calculadora .btn__operator:hover {
  background-color: #c4c4c4;
}
.contenedor.dark .calculadora #clean,
.contenedor.dark .calculadora #D {
  background-color: var(--key__opera2__dark);
  color: var(--text__dark);
}
.contenedor.dark .calculadora #clean:hover,
.contenedor.dark .calculadora #D:hover {
  background-color: #145d84;
}/*# sourceMappingURL=styles.css.map */